@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Aplicativo Retenciones</h1>
    <h2>Bienvenido,</h2>
    @if (Request.IsAuthenticated)
    {
        <p>Ahora escoja un módulo.</p>
    }
    else
    {
        <p>Inicie sesión para comenzar.</p>
    }
</div>